<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>BandBuddy - {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bandbuddy.css') }}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
  </head>
  <body>
    <header>
      <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
          <span class="navbar-item">
            <a class="button is-link" href="{{ url_for('home_page') }}">Home</a>
          </span>
          <span class="navbar-item">
            <a class="button is-link" href="{{ url_for('band_requests_page') }}">List Band Requests</a>
          </span>
          <span class="navbar-item">
            <a class="button is-link" href="{{ url_for('member_requests_page') }}">List Member Requests</a>
          </span>
          {% if current_user.is_authenticated %}
          <span class="navbar-item">
            <a class="button is-link" href="{{ url_for('member_request_add_page') }}">Add a Member Request</a>
          </span>
          <span class="navbar-item">
            <a class="button is-link" href="{{ url_for('band_request_add_page') }}">Add a Band Request</a>
          </span>
          <span class="navbar-item">
            <a class="button is-link" href="{{ url_for('band_add_page') }}">Create a Band</a>
          </span>
          {% endif %}
          {% if not current_user.is_authenticated %}
          <span class="navbar-item"></span>
            <a class="button is-link" href="{{ url_for('login_page') }}">Log in</a>
          </span>
          <span class="navbar-item"></span>
            <a class="button is-link" href="{{ url_for('signup_page') }}">Sign Up</a>
          </span>
          {% else %}
          <a class="button is-link" href="{{ url_for('logout_page') }}">Log out</a>
          {% endif %}
          {% if current_user.is_authenticated %}  Hi {{ current_user.username }}! {% endif %}
        </div>
      </nav>
    </header>

    <main>
      {% for message in get_flashed_messages() %}
      <div class="notification is-info">{{ message }}</div>
      {% endfor %}
      
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content">
        <small>&copy; 2015-2023, drummerkoala</small>
      </div>
    </footer>
  </body>
</html>