{% extends "layout.html" %}
{% block title %}Make a Member Request{% endblock %}
{% block content %}
    <h1>love</h1>
    <form action="" method="post">    
        <div class="field">
            <label class="label">Preferred Gender</label>
            <div class="control">
                <div class="select">
                    <select name="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
        </div>
    
        <div class="field">
            <label class="label">Instrument Needed</label>
            <div class="control">
                <div class="select">
                    <select name="Instrument">
                        <option value="Vocals">Vocals</option>
                        <option value="Drums">Drums</option>
                        <option value="Electroguitar">Electro Guitar</option>
                        <option value="Bass Guitar">Bass Guitar</option>
                        <option value="Piano">Piano</option>
                    </select>
                </div>
            </div>
        </div>
    
        <div class="field">
            <label class="label">Goal</label>
            <div class="control">
                <div class="select">
                    <select name="Goal">
                        <option value="Fun">Fun</option>
                        <option value="Socializing">Socializing</option>
                        <option value="Concerts - Serious">Concerts - Serious</option>
                        <option value="Concerts - Relaxed">Concerts - Relaxed</option>
                    </select>
                </div>
            </div>
        </div>
    
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}