{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}




    <form action="" method="post">      
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input name="Username" class="input is-success" type="text" placeholder="Maximum 50 characters"  required="required" maxlength="50">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input name ="Password" class="input" type="password" required="required">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <label class="label">Age</label>
            <div class="control has-icons-left has-icons-right">
                <input name="Age" class="input is-success" placeholder="Text input"  required="required">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Gender</label>
            <div class="control">
                <div class="select">
                    <select name="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
        </div>
        


        <div class="field">
            <label class="label">Instrument</label>
            <div class="control">
                <div class="select">
                    <select name="Instrument">
                        <option value="Vocals">Vocals</option>
                        <option value="Drums">Drums</option>
                        <option value="Electroguitar">Electro Guitar</option>
                        <option value="Bass Guitar">Bass Guitar</option>
                        <option value="Piano">Piano</option>
                    </select>
                </div>
            </div>
        </div>
        


        <div class="field">
            <label class="label">City</label>
            <div class="control">
                <div class="select">
                    <select name="City">
                        <option value="Adana">Adana</option>
                        <option value="Ankara">Ankara</option>
                        <option value="Antalya">Antalya</option>
                        <option value="Aydın">Aydın</option>
                        <option value="Bursa">Bursa</option>
                        <option value="Çanakkale">Çanakkale</option>
                        <option value="Denizli">Denizli</option>
                        <option value="Edirne">Edirne</option>
                        <option value="Eskişehir">Eskişehir</option>
                        <option value="Hatay">Hatay</option>
                        <option value="Istanbul">Istanbul</option>
                        <option value="Izmir">Izmir</option>
                        <option value="Konya">Konya</option>
                        <option value="Mersin">Mersin</option>
                        <option value="Muğla">Muğla</option>
                        <option value="Trabzon">Trabzon</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Level</label>
            <div class="control">
                <div class="select">
                    <select name="Level">
                        <option value="Basic">Basic</option>
                        <option value="Novice">Novice</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Expert">Expert</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Goal</label>
            <div class="control">
                <div class="select">
                    <select name="Goal">
                        <option value="Fun">Fun</option>
                        <option value="Socializing">Socializing</option>
                        <option value="Concerts - Serious">Concerts - Serious</option>
                        <option value="Concerts - Relaxed">Concerts - Relaxed</option>
                    </select>
                </div>
            </div>
        </div>
            
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}